<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show</title>
</head>
<body>
<!--    <h2 th:text="${id}"></h2>-->
    <div>
        <h3 th:text="${post.getTitle()}"></h3>
        <img th:each="image : ${post.images}" th:src="${image.path}" alt="cats" />
        <p th:text="${post.getBody()}"></p>
        <a href="#" th:text="${post.user.getEmail()}"></a>
        <a href="#" th:text="${post.user.getUsername()}"></a>

    </div>
</body>
</html>