
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="partials/header :: header"/>
    <title>Log In</title>
</head>
<body >
<h1>Log In</h1>

<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="row">
    <div class="col s6">
        <div class="row">
            <form th:action="@{/login}" method="post">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" />
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" />
                </div>
                <input type="submit" value="Log In" class="btn btn-large"/>
            </form>
        </div>
    </div>
</div>





<!--<div id="login" class="modal ">-->
<!--    <h5 class="modal-close">&#10005;</h5>-->
<!--    <div class="modal-content center">-->
<!--        <h4>Login</h4>-->
<!--        <br/>-->

<!--        <form th:action="@{/login}" th:method="post">-->

<!--            <div class="input-field">-->
<!--                <i class="material-icons prefix">person</i>-->
<!--                <input type="text" id="username" name="username"/>-->
<!--                <label for="username">Username</label>-->
<!--            </div>-->
<!--            <br/>-->

<!--            <div class="input-field">-->
<!--                <i class="material-icons prefix">lock</i>-->
<!--                <input type="password" id="password" name="password"/>-->
<!--                <label for="password">Password</label>-->
<!--            </div>-->
<!--            <br/>-->

<!--            <div class="left" style="margin-left:20px;">-->
<!--                <input type="checkbox" id="check"/>-->
<!--                <label for="check">Remember Me</label>-->
<!--            </div>-->
<!--            <br/>-->

<!--            <input type="submit" value="Login" class="btn btn-large"/>-->

<!--        </form>-->
<!--    </div>-->
<!--</div>-->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>