
<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/header :: header"/>
    <title>Sign up</title>
</head>
<body>


<div class="container">
    <div class="col s12">
        <div class="row ">

            <h1>Create an Account</h1>
            <form th:action="@{/sign-up}" method="post" th:object="${user}">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <label for="username">Username</label>
                    <input id="username" th:field="*{username}" type="text" />
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" type="email" />
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <label for="password">Password</label>
                    <input id="password" th:field="*{password}" type="password" />
                </div>

                <input type="submit" value="Sign Me Up !" class="btn btn-large"/>
            </form>
        </div>
    </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>