
/*#img{*/
/*    height: 400px;*/
/*    width: 400px;*/
/*}*/
/*li{*/
/*    display: inline-flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*h1{*/
/*    color: purple;*/
/*}*/


#homepic{
    height: 800px;
    width: 800px;
    margin-left: 250px;
}

.create{
    margin-left: 50px;

}